<footer><a href="https://www.linkedin.com/in/barrientosjesus/" target="_blank">&copy; 2023 Jesus Barrientos</a>&nbsp;•&nbsp;<span><a href="https://www.freeprivacypolicy.com/live/63c07718-d658-4eaf-8ef5-463be08b8607" target="_blank">Privacy Policy</a></span></footer>
</body>
</html>