<%- include('./partials/header') %>

  <main id="home-page-main">
    <section id="hero-image">
      <img src="https://svgshare.com/i/xLx.svg">
    </section>
    <section id="hero-text">
      <p><span>5e Character Creator</span><br>Your one stop shop for 5e Character Creation</p>
      <a href="#" id="hero-signup">Sign Up</a>
    </section>
  </main>

  <%- include('./partials/footer') %>