/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  flex-direction: column;
  font: 14px 'Roboto', Helvetica, Arial, sans-serif;
  background: url('https://i.imgur.com/BuUWNkn.png');
  background-size: cover;
  grid-template-rows: 6vh 92vh 2vh;
}

nav.navbar {
  background-color: rgba(0, 0, 0, .4);
  padding: 0;
  height: 100%;
}

nav>.container-fluid {
  height: 100%;
}

nav>.container-fluid>a {
  height: 100%;
  display: flex;
}

nav>.container-fluid>a>img {
  height: 100%;
}

nav>.container-fluid>.collapse>ul>li>a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

nav>.container-fluid>.collapse>ul>li>a.active {
  color: #3278c2;
}

nav>.container-fluid>.collapse>ul>li>a:hover {
  color: #812da8;
}

#hero-image {
  grid-area: hero-image;
  display: grid;
  justify-content: flex-end;
  align-items: center;
}

#hero-image>img {
  height: auto;
  max-width: 20vw;
  filter: drop-shadow(15px 15px 15px #000);
  user-select: none;
}

#hero-text {
  grid-area: hero-text;
  display: grid;
  justify-content: flex-start;
  align-content: center;
  color: white;
  padding-left: 2rem;
  font-family: 'Montserrat', sans-serif;
  filter: drop-shadow(10px 10px 10px #000);
  user-select: none;
}

#hero-signup {
  justify-self: center;
  text-decoration: none;
  color: white;
  padding: 2%;
  border-radius: 10px;
  background-color: #812da8;
}

#hero-signup:hover {
  color: #812da8;
  background-color: white;
}

#hero-text>p>span {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#home-page-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "hero-image hero-text";
}

#new-character-main {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  filter: drop-shadow(10px 10px 10px #000);
}

#name-race-class {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

#ac {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: auto;
}

#ac > i {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 8rem;
  color: whitesmoke
}

#ac > i > span {
  position: absolute;
  font-size: 2rem;
}

#name-race-class>* {
  display: grid;
  width: 50%;
  color: white;
  background-color: #333;
}

#name-race-class>select.form-select {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg width='10' height='6' fill='none' xmlns='http:%2F%2Fwww.w3.org/2000/svg'><path d='M1 1l4 4 4-4' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

#name-race-class>input::placeholder {
  color: rgba(255, 255, 255, .4);
}

#submit-section {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-family: 'Roboto', sans-serif;
}