/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --main-el-color: #812da8;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  flex-direction: column;
  font: 14px 'Roboto', Helvetica, Arial, sans-serif;
  background: url('https://i.imgur.com/BuUWNkn.png');
  background-size: cover;
  grid-template-rows: 6vh 92vh 2vh;
}

nav.navbar {
  background-color: rgba(0, 0, 0, .4);
  padding: 0;
  height: 100%;
}

nav>.container-fluid {
  height: 100%;
}

nav>.container-fluid>a {
  height: 100%;
  display: flex;
}

nav>.container-fluid>a>img {
  height: 100%;
}

nav>.container-fluid>.collapse>ul>li>a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

nav>.container-fluid>.collapse>ul>li>a.active {
  color: #3278c2;
}

nav>.container-fluid>.collapse>ul>li>a:hover {
  color: var(--main-el-color);
}

#hero-image {
  grid-area: hero-image;
  display: grid;
  justify-content: flex-end;
  align-items: center;
}

#hero-image>img {
  height: auto;
  max-width: 20vw;
  filter: drop-shadow(15px 15px 15px #000);
  user-select: none;
}

#hero-text {
  grid-area: hero-text;
  display: grid;
  justify-content: flex-start;
  align-content: center;
  color: white;
  padding-left: 2rem;
  font-family: 'Montserrat', sans-serif;
  filter: drop-shadow(10px 10px 10px #000);
  user-select: none;
}

#hero-signup {
  justify-self: center;
  text-decoration: none;
  color: white;
  padding: 2%;
  border-radius: 10px;
  background-color: var(--main-el-color);
}

#hero-signup:hover {
  color: var(--main-el-color);
  background-color: white;
}

#hero-text>p>span {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#home-page-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "hero-image hero-text";
}

#new-character-main {
  display: grid;
  grid-template-columns: 1fr repeat(6, 2fr) 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  filter: drop-shadow(10px 10px 10px #000);
}

.new-input-section {
  display: grid;
  grid-column: 2 / 8;
  align-items: center;
  justify-items: center;
}

#name-race-class {
  grid-row: 1 / 2;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

#skills-abilityscores {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 2 / 5;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: 1fr repeat(2, 4fr) 1fr;
  color: white;
}

#proficiencies {
  display: grid;
  grid-column: 2 / 3;
}

#ability-scores {
  display: grid;
  grid-column: 3 / 4;
  align-content: space-between;
  justify-items: center;
}

#new-attributes {
  grid-row: 6 / 7;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}

.input-group > .attribute-label {
  background-color: var(--main-el-color);
  color: white;
}

.input-group > input.form-control {
  background-color: rgba(51, 51, 51, 0.6);
  color: white;
}

#new-info {
  display: grid;
  grid-column: 4 / 8;
  grid-row: 2 / 6;
  grid-template-rows: repeat(7, 1fr);
  background-color: rgba(51, 51, 51, 0.6);
  color: white;
  border-radius: 10px;
}

#new-info>*{
  opacity: 0;
  padding: 1rem;
  transition: all 1s ease-out;
}

#ac {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: auto;
}

#ac>i {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 8rem;
  color: whitesmoke
}

#ac>i>span {
  position: absolute;
  font-size: 2rem;
}

#movement {
  grid-column: 5 /6;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: auto;
}

#movement>i {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 6rem;
  color: whitesmoke
}

#movement>p {
  display: flex;
  font-size: 2rem;
  color: white;
}

#name-race-class>*, #backgrounds-alignments>* {
  display: grid;
  width: 50%;
  color: white;
  background-color: rgba(51, 51, 51, 0.6);
}

select.drop-down-arrow {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg width='10' height='6' fill='none' xmlns='http:%2F%2Fwww.w3.org/2000/svg'><path d='M1 1l4 4 4-4' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

#name-race-class>input::placeholder {
  color: rgba(255, 255, 255, .4);
}

#submit-section {
  display: grid;
  grid-column: 5 / 6;
  grid-row: 6 / 7;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-family: 'Roboto', sans-serif;
}