<%- include('../partials/header') %>

  <main id="characters-main">
    <section id="show-characters">
    <% if(characters) { %>
      <% for(const c of characters) { %>
        <a href="/characters/<%= c._id %>" alt="Mythrill" target="_self">
          <div class="card">
            <div class="wrapper">
              <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
            </div>
            <h3 class="title">
              <%= c.name %>
            </h3>
            <img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp"
              class="character-card" />
          </div>
        </a>
        <% } %>
          <% } else { %>
            NO NO NO
            <% } %>
          </section>
  </main>

  <%- include('../partials/footer') %>