<%- include('../partials/header') %>
  <main id="character-show-page">
    <section id="character-show">
      <%= character.name %>
        <%= character.ac %>
    </section>
  </main>
  <%- include('../partials/footer') %>